<!DOCTYPE html>
<html>
<head>
	<title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
<body>

<ul>
  <li><a class="active" href="{{url_for('index')}}">ViewALL</a></li>
  <li><a href="{{url_for('Insert')}}">Insert</a></li>
  <li><a href="{{url_for('delete')}}">Delete</a></li>
  <li><a href="{{url_for('search')}}">Search</a></li>
  <li><a href="{{url_for('update')}}">Update</a></li>
</ul>

{% block body %}

{% endblock %}


</body>
</html>